[Unit]
Description=AceList Script
#Requires=network-online.target
#After=network-online.target
#Before=kodi.service

[Service]
ExecStart=/storage/.config/acelist/start.sh
#ExecStop=/bin/kill -TERM $MAINPID

#[Timer]
# Run after booting one minute
#OnBootSec=1min
# Run every one hour or one munite
# OnUnitActiveSec=1h
#OnUnitActiveSec=30min
#Unit=acelist.service

#[Install]
#WantedBy=kodi.target
