[Unit]
Description=Amlogic DVB module loader
ConditionPathExists=/proc/device-tree/demux/
After=kernel-overlays.service

[Service]
Type=oneshot
ExecStart=-/bin/sh -c "[ ! -f '/proc/device-tree/demux/status' -a $(cat /proc/device-tree/demux/compatible) = "amlogic, dvb-demux" ] && /sbin/modprobe aml_fe"
ExecStart=-/bin/sh -c "[ -f '/proc/device-tree/demux/status' -a $(cat /proc/device-tree/demux/status) = "okay" ] && /sbin/modprobe aml_fe"

[Install]
WantedBy=basic.target
